@import "../tools/variables";
@import "../tools/mixins";

.card{
    position: relative;
    height: 60vh;
    width: $card__width;
    margin-bottom: $margin__section--smal;

    &__container{
        width:100%;
        height: 100%;
        transform-style: preserve-3d; /*this attribute decides weather the children of this Element are positioned
        inside the 3d element or flat on top of it*/
        transition: all 0.5s ease;

        &--front{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            background: $main__text--light;
            text-align:center;
            border-radius: $card__radius;
            & > figure{
                overflow:hidden; 
                height:70%;
                & img{
                    margin-top: 4px;
                    object-fit:contain;
                }
            }
            & p{
                padding: $padding__card ;
            }
            & h4{
                padding: 0px $padding__card $padding__card $padding__card;
            }
        }

        &--back{
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            color:$card_color--brown;
            transform: rotateY(180deg);
            border-radius: $card__radius;
            padding: 0px $padding__card $padding__card $padding__card;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: radial-gradient(circle, #ffffff 0%,#F4C2C2 100%);
        
            & h4, & p{
                margin-bottom: $margin__section--smal;
                text-align: center;
            }
        }

        &:hover{
            transform: rotateY(180deg);
        }
    }
}
