@import "../tools/variables";
@import "../tools/mixins"; 

footer{
    padding:$padding__body--x;
    background:$green__dark;
    color:$main__text--light;
    @include flex-container($direction: row, $spacing: space-between, $alignment: null, $flow: wrap,$width: null);

    & svg{
        color: green;
    }
}


