@import "../tools/variables";
@import "../tools/mixins"; 

.header{
    
    padding: 0px $padding__body--x;
    position:fixed; 
    height:16vh;
    top:0; 
    z-index: 100;
    @include flex-container( $spacing: space-between, $alignment: center, $width: 100%); 
    &.open {

        .header__toggle {
          > span:first-child {
            transform: rotate(45deg);
          }
          
          > span:nth-child(2) {
            opacity: 0;
          }
          
          > span:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    & nav{
        @include flex-container( $spacing: space-between, $alignment: center, $width: 100%);
        & > a{
            width: 60%;
            & img{
                width: 7rem; 
                height: auto; 
            }
        }
    }
    &__ul--desktop{
        width: 40%;
        @include basic-grid($column-nr:3, $row-nr:1, $column-gab:5%, $justifyItems: center, $align-items:center);
    }

    &__toggle { // Mobile Menu Toggle
            position: absolute; 
            top:6vh;
            right: 5rem;
            
        > span {
          display: block;
          width: 26px;
          height: 2px;
          background-color: $main__text--light;
          transition: all 300ms ease-in-out;
          transform-origin: 3px 1px;
    
          &:not(:last-child){
            margin-bottom: 5px;
          }
        }
      }
      &__menu {
        position: absolute;
        width: 100%;
        top: 11vh;
        left: 50%;
        transform: translateX(-50%);
        margin-top: $margin__section--smal;
        padding: $padding__body--x;
        border-color: red;
    
        a {
          display: block;
          text-align: center;
          border-bottom: solid 2px $grey__light;
          margin-bottom: $margin__section--smal;
          padding-bottom: $padding__card;
        }
      }
}

#btnHamburger{
    width: auto;
}

.changeColor{
    color:$main__text--dark; 
    background: $main__background;
}

.headerColor{
    background: $green__dark;
    color:$main__text--light;
}

.hide-for-mobile {
  @include breakpoint-down(small) {
    display: none; 

  }
}

.hide-for-desktop {
  @include breakpoint-up(medium) {
    display: none; 
  }
}