@import "../tools/variables";
@import "../tools/mixins"; 

.headAritcle{
    height: 50vw; 
    color: $main__text--light;
    background: $green__dark;
    position: relative; 
    width:100%;
    padding: $padding__body--y  $padding__body--x; 
    &__water{ 
        color: transparent; 
        position: relative;
        & h1{
            &:nth-child(1){
            -webkit-text-stroke: 2px $red__wine;
            position: absolute;
            }
            &:nth-child(2){
                color:$red__wine;
                animation: animate 4s ease-in-out infinite;
            }

        }

    }
    & > section{
        & > p{
            width: 50%; 
        }
        
        & img{
            height:53vw; 
            width: auto;
            position: absolute; 
            top: 3%;
            right: 3%; 
        }
        & figcaption{
            display: none; 
        }
    }
}

@keyframes animate{
    0%,100%{
        clip-path: polygon(0% 59%, 9% 67%, 25% 72%, 36% 69%, 50% 59%, 62% 55%, 75% 59%, 88% 66%, 100% 57%, 100% 100%, 0% 99%);
    }
    50%{
        clip-path: polygon(0% 59%, 9% 53%, 25% 51%, 40% 55%, 52% 67%, 64% 63%, 72% 50%, 88% 46%, 100% 57%, 100% 100%, 0% 99%);
    }
}