*{
    margin:0;
     padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.dotsbox{
    text-align: center;
}

.slider{
    position:relative;
    widht: 50%;
    background: antiquewhite;
}

.myslider{
    display: block;
    height: 100%;
    overflow:hidden;
}
.prev, .next{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-site: 200rem;
    cursor: pointer;
    color: #fff;
    padding: 5px;
    transition: 6.1s;
    user-select: none;
}

.prev:hover, .next:hover{
    color: olivedrab;
}
.next{
    right: 0;
}

.dotsbox{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 20px;
    cursor: pointer;
}
.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: 0.8}
    to {opacity: 1}
}

.txt{
    position: absolute;
    color: #fff;
    letter-spacing: 2px;
    line-height: 35px;
    top: 40%;
    left: 15%;
}

.txt h1{
    color: #fff;
    font-weight: bold;
    margin: 20rem;
}
.txt p {
    font-weight: bold;
    font-size: 20px;
}

img{
    transform: scale(1.5, 1.5);
}