@import 'typographie';

//media-querys
@media (min-width: 64rem){
    // styles go here
  } 
  
  // 640px, 1024px
$breakpoints-up: ("medium": "44rem", "large": "64rem");

// 639px, 1023px, 1399px
$breakpoints-down: ("small": "43.75rem", "medium": "63.9375rem");

@mixin breakpoint-up($size){
  @media (min-width: map-get($breakpoints-up, $size)){
    @content;
  }
}

@mixin breakpoint-down($size){
  @media (max-width: map-get($breakpoints-down, $size)){
    @content;
  }
}

  //general flex-container, no fancy stuff
  @mixin flex-container($direction: row, $spacing: space-between, $alignment: null, $flow: nowrap,$width: null) {
    display: flex;
    flex-flow: $direction $flow;
    justify-content: $spacing;
    @if $alignment{align-items:$alignment};
    @if $width{width:$width}
  }

  /*pciture mixins*/
  @mixin cover_pciture($fit:cover, $p-x:null, $p-y:null){
    object-fit: $fit;
    @if $p-x{
      if p-y{
      object-position: p-x p-y;
      }
    }
  }

  /* grid */
  @mixin basic-grid($column-nr:1, $row-nr:1, $column-gab:null, $row-gab: null, $justifyItems: stretch, $align-items:stretch){
    display:grid;
    grid-template-columns: repeat($column-nr, 1fr);
    grid-template-rows: repeat($row-nr,1fr);
    align-items: $align-items;
    justify-items: $justifyItems;
    @if $column-gab{
        column-gap: $column-gab;
    }
    @if $row-gab{
        
        row-gap: $row-gab;
    }
  }

  /*fonts*/
  @mixin fonts( $size, $weight){
    font-family: $font; 
    font-size: $size;
    font-weight: $weight;
  }