@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/*colors*/
$orange__dark: #f19166;
$orange__light: #ffcab2;
$black: #000000;
$gray__light: #000000;
$gray__dark: #c4c4c4;
$white: #f4f4f4;

/*cards*/
$card__radius: 2%;
$card__width: 23%;

/*font family*/
$font: "Roboto", sans-serif;

/*font-sizes*/
$h1__font: 4em;
$h2__font: 2em;
$h3__font: 1.5em;
$body__font: 1.125;
$bodyLarge__font: 1.25em;
$footnote__font: 0.75em;

/*breakpoints*/
$button__height : 4; 
