.color{
    color: white !important;
}

.carouselItem{
    position: relative;
    overflow: hidden;
    height: 35em !important;
}

.container__color{
    background: rgba(0, 0, 0, 0.4);
    padding: 2rem;
    border-radius: 1rem;
}

.slider__text{
    position: absolute;
    top: 30%;
    width: 50%;
    color: white;
}

.textLeft{
    text-align: left !important;
}

.loginButton{
    margin-right: 1em;
}

.marginLeft{
    margin-left: 1em;
}

.flexResponsive{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cardImage{
    height: 15em;
    overflow: hidden;
}