* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .form {
    padding: 30px;
}

.container .form .title {
    position: relative; 
    font-size: 27px;
    font-weight: 600;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    /* height: 50px;
    width: 100%; */
    margin-top: 30px;
}

.padding-l{
    padding-right: 1rem;
}

.input-field input {
    padding: 10px 35px;
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4 ;
}

.input-field input:is(:focus, :valid) ~ i {
    color: #4070f4 ;
}

.input-field i {
    position: absolute;
    padding-bottom: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px -2px 4px;
    accent-color: #4070f4;
}

.form a {
    text-decoration: none;
}
.form a:hover {
    text-decoration: underline;
}

.form .text {
    color: #333;
    /* font-size: 0.7rem; */
}

.form .button {
    margin-top: 1.5rem;
}

.padding-t {
    margin-top: 1rem;
}

.form .button input{
    border: none;
    color: #fff;
    letter-spacing: 1px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form .button input:hover {
    background-color: #3660d2;
}