.galleryWrap img:hover {
    transform: scale(1.02);
}

.sliderWrap {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 99;
     background-color: rgba(0, 0, 0, 0.8);
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
     height: 100%; 
}

.sliderWrap .btnClose, .sliderWrap .btnPrev, .sliderWrap .btnNext {
    position: fixed;
    cursor: pointer;
    opacity: 0.6;
    color: #fff;
    z-index: 999;
}

 .btnClose:hover,  .btnPrev:hover,  .btnNext:hover {
    opacity: 1;
}

.sliderWrap .btnClose {
    /* color: #fff; */
    background-color: #fff;
    border-radius: 50%;
    font-size: 2rem;
    top: 40px;
    right: 40px;
}

.sliderWrap .btnPrev {
    top: 50%;
    /* transform: rotateY(); */
    left: 40px;
    font-size: 3rem; 
}

.sliderWrap .btnNext {
    top: 50%;
    /* transform: rotateY(); */
    right: 40px;
    font-size: 3rem;
}

.fullScreenImage {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;

}
.fullScreenImage Image {
    max-width: 100%;
    max-height: 100%;
}

.btn-primary{
    padding: 1rem !important;
    font-size: 1rem !important;

}

