@use "./SassStyles/settings/foundation";
@use "./SassStyles/settings/reset";

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    /* font-size: 10px; */
  
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
    overflow-x: hidden;
  
    /* Does NOT work on Safari */
    /* scroll-behavior: smooth; */
  }
  
  body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555 ;
  
    /* Only works if there is nothing absolutely positioned in relation to body */
    overflow-x: hidden;
  }
  
  /*%%%%%%%%%%%%%%%%%%%%%%%%%
  %%%%%%%% Button class %%%%%
  %%%%%%%%%%%%%%%%%%%%%%%%%*/
  
  .btn,
  .btn:link, 
  .btn:visited{
    display: inline-block;
    text-decoration: none; 
    font-size: 2rem;
    padding: 1.6rem 3.2rem;
    border-radius: 9px;  
    transition: all 0.3s;
  
    border: none;
    cursor: pointer;
    font-family: inherit;
  }
  
  .btn--form{
    background-color: #45260a;
    /* color: #fdf2e9; */
    color: #E8EAEF;
    align-self: end;
    padding: 1.2rem;
    transition: all 0.3s;
  }
  
  .btn--form:hover{
    background-color: #fff;
    color: #555;
  }
  
  .btn--full:link,
  .btn--full:visited{
    /* background-color: #e67e22; */
    background-color: #273146;
    color: #fff; 
  }
  
  .btn--full:hover,
  .btn--full:active{
     background-color: #cf711f;
     background-color: #ababab;
  }
  
  .btn--outline:link,
  .btn--outline:visited{
    background-color: #fff;
    color: #555;
  }
  
  .btn--outline:hover,
  .btn--outline:active{
    /* background-color: #fdf2e9; */
    background-color: #E8EAEF;
    color: #555;
    box-shadow: inset 0 0 0 3px #fff;
  }
  
  .image {
    width: 182px;
    height: 182px;
  }
  
  @media (max-width: 768px) {
    .image {
      width: 120px;
      height: 120px;
    }
  }
  
  .margin-right-sm{
    margin-right: 1.6rem !important;
  }
  
  .margin-bottom-md{
    margin-bottom: 4.8rem !important;
  }
  
  .padding_top{
    padding-top: 4rem;
  }
  
  .center-text{
     text-align: center;
  }  
  
  .link:link,
  .link:visited{
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid currentColor; 
    padding-bottom: 2px;
    transition: all 0.3s;
  }
  
  .link:hover,
  .link:active{
    color: #cf711f;
    border-bottom: 1px solid transparent;
  }  
  
  /*%%%%%%%%%%%%%%%%%%%%%%%%%
  %%%%%%%% REUSABLES %%%%%%%%
  %%%%%%%%%%%%%%%%%%%%%%%%%*/
  
  /* Headlines */
  
  .heading_primary,
  .heading_secondary,
  .heading_tertiary{
    font-weight: 700;
    color: #333;
    letter-spacing: -0.5px;  
  }
  
  .heading_primary{
    font-size: 5.2rem;
    line-height: 1.05;
    margin-bottom: 3.2rem;
  }
  
  .heading_secondary{
    font-size: 4.4rem;
    line-height: 1.2;
    margin-bottom: 3.6rem ; 
  }
  
  .heading_tertiary{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 3.2rem;
  }
  
  
  .subheading{
    display: block;
    font-size: 2rem;
    font-weight: 500;
    color: #e67e22; 
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px ;
  }
  
  /* Conatainer */
  
  .container{
    max-width: 120rem;
    padding: 0 3.2rem ;
    margin: 0 auto ;
  }
  
  .footer {
    padding: 12.8rem 0;
    border-top: 1px solid #eee;
  }
  
  /* Reusable Grid */
  
  .grid{
    display: grid;
    column-gap: 6.4rem;
    row-gap: 6.6rem;
  }
  
  /*   */
  
  .grid:not(:last-child){
    padding-bottom: 9.6rem;
  }
  
  .grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
  }
  
  .grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
  }
  
  .grid--5-cols{
    grid-template-columns: repeat(5, 1fr);
  }
  
  .grid--center-v{
    align-items: center;  
  }
  
  /* Reusable List */
  
  .list{
    list-style: none; 
    display: flex;
    flex-direction: column; 
    gap: 1.6rem;
  }
  
  .list-item{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
  }
  
  .list-icon{
    width: 3rem;
    height: 3rem;
    color: #e67e22 ;
  }
  
  .cta *:focus {
    outline: none;
    box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
  }
  
  /**************************/
  /* BELOW 1344px (Smaller desktops) */
  /**************************/
  
  @media (max-width: 84em) {
    .hero{
        max-width: 120rem;
    }
    .heading_primary{
        font-size: 4.4rem;
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /**************************/
  /* BELOW 1200px (Landscape Tablets) */
  /**************************/
  
  @media (max-width: 75em) {
    html{
        font-size: 56.25%;
    }
  
    .grid{
        column-gap: 4.8rem;
        row-gap:  6.4rem ;
    }
  
    .heading_secondary{
        font-size: 3.6rem;
    }
  
    .heading_tertiary{
        font-size: 2.4rem;
    }
  
    .header{
        padding: 0 3.2rem;
    }
  
    .main_nav_list{
        gap: 3.2rem;
    }
  
    .testimonials_container{
        padding: 9.6rem 3.2rem; 
    }
  
    .hero{
        gap: 4.8rem;
    }
  
  }
  
  /**************************/
  /* BELOW 944px (Tablets) */
  /**************************/
  
  @media (max-width: 59em) {
    html{
        font-size: 50%;
    }
  
    .hero{
        grid-template-columns: 1fr; 
        padding: 0 8rem;
        gap: 6.4rem;  
    }
  
    .hero_text_box,
    .hero_img_box{
        text-align: center;
    }
  
    .hero_img{
         width: 60%;
    }
  
    .customer_quick_peek{
        justify-content: center;
    }
  
    .logos img{
        height: 2.4rem ;
    }
  
    .step_number{
        font-size: 7.4rem;
    }
  
    .card_content{
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }
  
    .Testimonials_Section{
        grid-template-columns: 1fr;
   }
  
   .gallery{
        grid-template-columns: repeat(6, 1fr);
    }
  
    .cta{
        grid-template-columns: 3fr 2fr;
    }
  
    .cta_form{
        grid-template-columns: 1fr;
    }
  
    .btn__form{
        margin-top: 1.2rem;
    }
  
    /* MOBILE NAVIGATION */
    .btn_mobile_nav{
        display: block;
        z-index: 9999;
    }
  
    .main_nav{
         background-color: rgb(255, 255, 255, 0.97);
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         transform: translateX(100%); 
  
         display: flex; 
         align-items: center;
         justify-content: center;
         transition: all 0.5s ease-in; 
  
         pointer-events: none;
         visibility: hidden;
  
         opacity: 0 ;
    }
  
    .nav_open .main_nav{
        opacity: 1;
        pointer-events: auto;
        visibility: visible; 
        transform: translateX(0);   
    }
  
    .nav-open .icon-mobile-nav[name="close-outline"]{
        display: block;
   }
  
   .nav-open .icon-mobile-nav[name="menu-outline"]{
        display: none;
    }
  
    .main_nav_list{
        flex-direction: column;  
        gap: 4.8rem;
    }
  
    .main_nav_link:link,
    .main_nav_link:visited {
      font-size: 3rem;
    }
    
  } 
  
  /**************************/
  /* BELOW 704px (Smaller tablets) */
  /**************************/
  
  @media (max-width: 44em) {
    .grid--3-cols,
    .grid--4-cols{
        grid-template-columns: repeat(2, 1fr);
    }
  
    .list-of-cards{
        grid-column: 1 / -1; 
        justify-self: center;
    }
  
    .heading_secondary{
        margin-bottom: 4.8rem ;
    }
  
    .pricing_plan{
        width: 100% ;
    }
  
    /* footer grid */
  
    /* 
    .grid--footer{
        grid-template-columns: repeat(6, 1fr);
    } 
  
    .logo-col, .adress-col{
        grid-column: span 3;
    }
  
    .nav-col{
        grid-row: 1;
        grid-column: span 2;
        margin-bottom: 3.2rem  ;
    }
  
    .address-col{
        margin-left: 4.6rem !important;
    }
  
    .margin-left-helper{
        margin-left: 4.6rem !important;
    } 
    */
  
    .grid--footer{
        grid-template-columns: repeat(2, 1fr);
    } 
  
  }
  
  /**************************/
  /* BELOW 544px (Phones) */
  /**************************/
  
  @media (max-width: 34em) {
    .grid{
      row-gap: 4.8rem ;
    }
    
    .grid--2-cols,
    .grid--3-cols,
    .grid--4-cols{
      grid-template-columns: 1fr;
    }
    
    .hero{
      padding: 0 3.2rem;
    }
    
    .Hero_Section{
      padding: 2.4rem 0 6.4rem 0; 
    }
    
    .btn,
    .btn:link, 
    .btn:visited{
      padding: 2.4rem 1.6rem;      
    }
    
    .hero_img{
      width: 80%;
    }
    
    .logos img{
      height: 1.2rem ;
    }
    
    .step-img-box:nth-child(2){
      grid-row: 1; 
    }
    
    .step-img-box:nth-child(6){
      grid-row: 5; 
    }
    
    .step-img-box{
      transform: translateY(2.4rem); 
    }
    
    .testimonials{
      grid-template-columns: 1fr;
    }
    
    .gallery{
      grid-template-columns: repeat(4, 1fr); 
      gap: 1.2rem;
    }
    
    .cta{
      grid-template-columns: 1fr;
    }
    
    .cta-img-box{
      height: 32rem;
      grid-row: 1;
    }
    
    .cta-text-box{
      padding: 3.2rem; 
    }
    
    .customer_faces img{
      height: 4.2rem;
      width: 4.2rem; 
    }
  }
  
  /**************************/
  /* Modals */
  /**************************/
  
  
  .modal {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
  }
  
  .modal-content h3 {
    margin-top: 0;
  }
  
  .modal-content p {
    margin-bottom: 0;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #aaa;
  }
  
  .close:hover {
    color: #555;
  }
  
  /**************************/
  /* Information Table */
  /**************************/
  
  /* .contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .contact-table th,
  .contact-table td {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .contact-table th {
    text-align: left;
    font-weight: bold;
  }
  
  .contact-table td {
    text-align: center;
  } */
  
  .contact-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
  }
  
  .contact-table th,
  .contact-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .contact-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .contact-table td:last-child {
    border-bottom: none;
  }
  
  .contact-table td:first-child {
    border-left: 1px solid #ccc;
  }
  
  .contact-table td:last-child {
    border-right: 1px solid #ccc;
  }